# Temporary files
*.000
*bak*
*bck*
*~
_autosave-*
*.tmp
*cache*

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Folders
gerbers
rs-probe-backups
rs-probe-rot90-4-backups

# Added for modification
production/rs-probe_*-*-*_*-*-*
production/rs-probe-handy-jig_*-*-*_*-*-*
\#auto_saved_files#
*.lck
.DS_Store

# Panelization related
rs-probe-rot90-4.kicad_prl
rs-probe-rot90-4.kicad_pro
3dworks/**